In [23]:
import pandas as pd
import json
import urllib.request
import sqlite3

In [15]:
url = urllib.request.urlopen('http://py4e-data.dr-chuck.net/comments_42.json')

In [16]:
json_file = json.loads(url.read())

In [24]:
json_file

{'note': 'This file contains the sample data for testing',
 'comments': [{'name': 'Romina', 'count': 97},
  {'name': 'Laurie', 'count': 97},
  {'name': 'Bayli', 'count': 90},
  {'name': 'Siyona', 'count': 90},
  {'name': 'Taisha', 'count': 88},
  {'name': 'Alanda', 'count': 87},
  {'name': 'Ameelia', 'count': 87},
  {'name': 'Prasheeta', 'count': 80},
  {'name': 'Asif', 'count': 79},
  {'name': 'Risa', 'count': 79},
  {'name': 'Zi', 'count': 78},
  {'name': 'Danyil', 'count': 76},
  {'name': 'Ediomi', 'count': 76},
  {'name': 'Barry', 'count': 72},
  {'name': 'Lance', 'count': 72},
  {'name': 'Hattie', 'count': 66},
  {'name': 'Mathu', 'count': 66},
  {'name': 'Bowie', 'count': 65},
  {'name': 'Samara', 'count': 65},
  {'name': 'Uchenna', 'count': 64},
  {'name': 'Shauni', 'count': 61},
  {'name': 'Georgia', 'count': 61},
  {'name': 'Rivan', 'count': 59},
  {'name': 'Kenan', 'count': 58},
  {'name': 'Hassan', 'count': 57},
  {'name': 'Isma', 'count': 57},
  {'name': 'Samanthalee', 'count': 54},
  {'name': 'Alexa', 'count': 51},
  {'name': 'Caine', 'count': 49},
  {'name': 'Grady', 'count': 47},
  {'name': 'Anne', 'count': 40},
  {'name': 'Rihan', 'count': 38},
  {'name': 'Alexei', 'count': 37},
  {'name': 'Indie', 'count': 36},
  {'name': 'Rhuairidh', 'count': 36},
  {'name': 'Annoushka', 'count': 32},
  {'name': 'Kenzi', 'count': 25},
  {'name': 'Shahd', 'count': 24},
  {'name': 'Irvine', 'count': 22},
  {'name': 'Carys', 'count': 21},
  {'name': 'Skye', 'count': 19},
  {'name': 'Atiya', 'count': 18},
  {'name': 'Rohan', 'count': 18},
  {'name': 'Nuala', 'count': 14},
  {'name': 'Maram', 'count': 12},
  {'name': 'Carlo', 'count': 12},
  {'name': 'Japleen', 'count': 9},
  {'name': 'Breeanna', 'count': 7},
  {'name': 'Zaaine', 'count': 3},
  {'name': 'Inika', 'count': 2}]}

In [27]:
item_purchased = pd.DataFrame(json_file['comments'])

In [28]:
item_purchased.head()

     name  count
0  Romina     97
1  Laurie     97
2   Bayli     90
3  Siyona     90
4  Taisha     88

In [25]:
conn = sqlite3.connect('json_sql.sqlite')

In [26]:
cur = conn.cursor()

In [31]:
item_purchased.to_sql('json_sql', conn)

In [32]:
cur.execute('SELECT * FROM json_sql')

In [33]:
for i in cur:
    print(i)

(0, 'Romina', 97)
(1, 'Laurie', 97)
(2, 'Bayli', 90)
(3, 'Siyona', 90)
(4, 'Taisha', 88)
(5, 'Alanda', 87)
(6, 'Ameelia', 87)
(7, 'Prasheeta', 80)
(8, 'Asif', 79)
(9, 'Risa', 79)
(10, 'Zi', 78)
(11, 'Danyil', 76)
(12, 'Ediomi', 76)
(13, 'Barry', 72)
(14, 'Lance', 72)
(15, 'Hattie', 66)
(16, 'Mathu', 66)
(17, 'Bowie', 65)
(18, 'Samara', 65)
(19, 'Uchenna', 64)
(20, 'Shauni', 61)
(21, 'Georgia', 61)
(22, 'Rivan', 59)
(23, 'Kenan', 58)
(24, 'Hassan', 57)
(25, 'Isma', 57)
(26, 'Samanthalee', 54)
(27, 'Alexa', 51)
(28, 'Caine', 49)
(29, 'Grady', 47)
(30, 'Anne', 40)
(31, 'Rihan', 38)
(32, 'Alexei', 37)
(33, 'Indie', 36)
(34, 'Rhuairidh', 36)
(35, 'Annoushka', 32)
(36, 'Kenzi', 25)
(37, 'Shahd', 24)
(38, 'Irvine', 22)
(39, 'Carys', 21)
(40, 'Skye', 19)
(41, 'Atiya', 18)
(42, 'Rohan', 18)
(43, 'Nuala', 14)
(44, 'Maram', 12)
(45, 'Carlo', 12)
(46, 'Japleen', 9)
(47, 'Breeanna', 7)
(48, 'Zaaine', 3)
(49, 'Inika', 2)